body {
    background-color: #F9F9F9;
}

hr {
    border-style: dotted none none;
    border-width: 8px;
    border-color: #FAF4B7;
    width: 10%;
}

h1 {
    color: #8ea7a2;
}

h3 {
    color: #8ea7a2;
}
